.company {
	max-width: 1920px;
	height: 500px;
	background: #F5F5F5;
}
.company__container {
}
.company__title {
}
.company-block {
}
.company-block__item-left {
}
.company-block__item-right {
}
.company-block__img-1 {
}
.company-block__img-2 {
}