.main {
	max-width: 1920px;
	height: 979px;
	background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.4)),
					url('/img/main-img.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.main__container {
}

.container {
	max-width: 1400px;
}

.main img {
	position: absolute;
	object-fit: cover;
	object-position: center;
	max-width: 100%;
	height: auto;
}

.block__row {
	display: flex;
	max-width: 1400px;
	height: 979px;
	align-items: center;
	margin: 0px auto;
	padding-left: 15px;
}

.block__element {
	flex: 0 1 50%;

	@media (max-width: 992px) {
		flex: 0 0 100%;	
	}
}

.block__content {

	& h1 {
		display: flex;
		text-transform: uppercase;
		font-family: Play;
		font-size: 2.5rem;
		letter-spacing: 0.04em;
		line-height: 48px;
		font-weight: 700;
		color: #FFFFFF;
		margin-bottom: 24px;

		@media (max-width: 992px) {
			max-width: 900px;
			margin-right: 10px;
		}

		@media (max-width: 767px) {
			font-size: 1.625rem;
			line-height: 30px;
			letter-spacing: 0.05em;
		}
	}

	& p {
		font-family: Noto+Sans;
		color: #FFFFFF;
		line-height: 22px;
		padding-bottom: 24px;

		@media (max-width: 992px) {
			max-width: 800px;
			margin-right: 10px;
		}

		@media (max-width: 767px) {
			max-width: 700px;
			font-size: 0.96rem;
			line-height: 19px;
		}
	}
}

.main__button-header {
	background: #FFFFFF;
	border-radius: 6px;
	width: 326px;
	height: 48px;

	@media (max-width: 767px) {
		width: 290px;
		height: 48px;
	}

	& span {
		display: flex;
		align-items: center;
		justify-content: center;
		font-family: Play;
		background-color: #ffffff;
		color: #000000;
		border: 1px solid #000000;
		border-radius: 6px;
		white-space: nowrap;
		width: 326px;
		height: 48px;
		text-transform: uppercase;
		letter-spacing: 0.05em;
	
		@media (max-width: 767px) {
			width: 290px;
			height: 48px;
		}
	}
}
